<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'shared/head' %>
    <title>Appagar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'shared/header' %>
    <%= yield %>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
